*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size:120%;
	background: #F8F8FF;
}

.header{
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align:center;
	border: 1px solid #80C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form,.content{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input{
	margin: 10px 0px 10px 0px;
}
.input label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success{
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}


@media screen and (min-width: 0) {
    #div{width: 500px;}
}
@media (min-device-width:1000px) {
    #div{width: 900px;}
}
@media (min-device-width:1500px) {
    #div{width: 1400px;}
}
